.container-input, #container-main{
    width: 100%;
    margin-right: 20px;
    margin-bottom: 50px;
    
}
#container-main{
    display: flex;
    flex-flow: row wrap;
}

#content{
    width: 170px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    height: 237px;
    border-radius: 25px;
    margin: -10px 50px 50px 50px;
    font-size: medium;
   
}

h1{
    text-align: center;
}

.container-input{
    background-color: lightblue;
    height: 200px;
    text-align: left;
    padding: 20px;
}

body {
    margin: 0 auto;
}
img{
    width: 98px;
    height: 84px;
}

.pForm{
    margin: 0 auto;
}

form{
    margin-top: 10px;
}

#schItem {
    visibility: hidden;
}

#fWorldstate {
    visibility: hidden;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}